section.container {
    width:  70vw;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .generate_box {
        display: flex;
        gap: 10px;

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }
        }

        button {
            background-color: lightpink;
        }
    }

    #output {
        overflow: scroll;
        max-width: 90vw;
        max-height: 60vh;

        .container {
        display: flex;

        .columns {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            border-collapse: collapse;

            .rows {
                display: flex;
                flex-direction: row;
                border: 1px solid black;
                border-collapse: collapse;

            }


            .highlight {
            background-color: palevioletred;
            }
        }

        row, col {
            border: 1px solid black;
            padding: 2px;
            text-align: center;
        }

    }



